<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2105"
    android:versionName="0.21.5-alpha">

    <uses-sdk
        android:maxSdkVersion="22"
        android:minSdkVersion="15" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

</manifest>
