<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1913"
    android:versionName="0.19.13-alpha">

    <uses-sdk
        android:maxSdkVersion="21"
        android:minSdkVersion="15" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

</manifest>
